USE [master]
GO
/****** Object:  Database [kairos_test]    Script Date: 12/1/2022 9:09:55 PM ******/
CREATE DATABASE [kairos_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kairos_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kairos_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kairos_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kairos_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kairos_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kairos_test]
GO
/****** Object:  Table [dbo].[T_BARANG]    Script Date: 12/1/2022 9:09:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BARANG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KodeBarang] [varchar](50) NULL,
	[NamaBarang] [varchar](255) NULL,
	[JumlahBarag] [int] NULL,
 CONSTRAINT [PK_T_BARANG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[crudBarang]    Script Date: 12/1/2022 9:09:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crudBarang](
	@id BIGINT = NULL,
	@NamaBarang Varchar(255) = NULL,
	@KodeBarang Varchar(255) = NULL,
	@JumlahBarag INT = NULL,
	@Search Varchar(255) = NULL,
	@ActionType INT
) AS BEGIN
	IF @ActionType = 1
	BEGIN
		IF NOT EXISTS (SELECT * FROM T_BARANG WHERE KodeBarang = @KodeBarang)
		BEGIN
			INSERT INTO T_BARANG(NamaBarang,KodeBarang,JumlahBarag) VALUES (@NamaBarang,@KodeBarang,@JumlahBarag)
		END
	END
	IF @ActionType = 2
	BEGIN
		IF EXISTS (SELECT * FROM T_BARANG WHERE id = @id)
		BEGIN
			UPDATE T_BARANG SET KodeBarang = @KodeBarang, JumlahBarag = @JumlahBarag, NamaBarang = @NamaBarang WHERE id = @id
		END
	END
	IF @ActionType = 3
	BEGIN
		DELETE T_BARANG WHERE id = @id
	END
	IF @ActionType = 4
	BEGIN
		IF(@Search = ' ')
		BEGIN
			SELECT * FROM T_BARANG ORDER BY T_BARANG.NamaBarang ASC
		END
		ELSE
		BEGIN
			SELECT * FROM T_BARANG WHERE NamaBarang LIKE @Search OR KodeBarang LIKE @Search ORDER BY T_BARANG.NamaBarang ASC
		END
	END
	IF @ActionType = 5
	BEGIN
		SELECT * FROM T_BARANG WHERE id = @id
	END
END
GO
USE [master]
GO
